---
import Layout from "../layouts/Layout.astro";

---

<Layout>
  <div
    class="w-full bg-web-bg min-h-screen flex flex-col items-center justify-center"
  >

  <h1 class="font-line font-bold text-lg">Comming soon</h1>

  </div>
</Layout> 


