---
import Layout from "../layouts/Layout.astro";

const { cookies, redirect } = Astro;

const accessToken = cookies.get("sb-access-token");
const refreshToken = cookies.get("sb-refresh-token");
export const prerender = true

if (accessToken && refreshToken) {
  return redirect("/register");
}
---

<!-- <Layout>
  <div
    class="w-full bg-web-bg min-h-screen flex flex-col items-center justify-center"
  >
    <main class="flex-1 flex flex-col gap-4 items-center p-4 justify-center">
      <Login supabaseKey={supabaseKey} client:only />
    </main>
  </div>
</Layout> --> -->




<Layout title="Sign in">
  <h1>Sign in</h1>
  <form action="/api/auth/signin" method="get">
    <button value="google" name="provider" type="submit">Sign in with google</button>
  </form>
</Layout>
