---
import AvatarDisplay from "../components/AvatarDisplay";
import Name from "../components/Name";
export const prerender = false;

import Navbar from "../components/Navbar.astro";
import Layout from "../layouts/Layout.astro";

const id = Astro.cookies.get("id")?.value || "";
---

<Layout title="Main | Vid Lovd Vid U 2024">
  <main
    class="min-h-screen bg-gradient-to-b from-[#FBAEB4] to-[#FEDFC2] flex flex-col justify-between"
  >
    <div
      class="max-w-screen-mobile mx-auto relative px-8 flex flex-col items-center"
    >
      <!-- top navbar -->
      <Navbar />
      <!-- top navbar -->

      <AvatarDisplay id={id} client:only />

      <Name id={id} client:only />
      <!-- avatar -->
    </div>

    <!-- Bottom div -->
    <div class="grid grid-cols-3 place-items-center">
      <a href="/commingsoon" class="flex flex-col justify-center items-center gap-2">
        <img src="assets/icon/mail.svg" alt="event" class="w-[67px]" />
        <p class="font-line font-semibold text-center text-white text-lg">
          Event
        </p>
      </a>
      <a
        href="/profile"
        class="flex flex-col justify-center items-center gap-2"
      >
        <img src="assets/icon/shirt.svg" alt="customize" class="w-[67px]" />
        <p class="font-line font-semibold text-center text-white text-lg">
          Customize
        </p>
      </a>
      <a
        href="/relation"
        class="flex flex-col justify-center items-center gap-2"
      >
        <img src="assets/icon/heart.svg" alt="relation" class="w-[67px]" />
        <p class="font-line font-semibold text-center text-white text-lg">
          Relation
        </p>
      </a>
    </div>
    <div class="flex justify-center mb-20">
      <a
        href="/ticket"
        class="bg-white px-6 py-6 text-center mr-6 w-auto h-8 font-line text-md font-bold rounded-2xl flex items-center justify-center"
        >View your ticket</a
      >
      <a
      href="/party"
      class="bg-white px-6 py-6 text-center mr-6 w-auto h-8 font-line text-md font-bold rounded-2xl flex items-center justify-center"
      >Create party</a
    >
    </div>
  </main>
</Layout>
