---
import Layout from "../layouts/Layout.astro";
export const prerender = false;
---

<Layout>
  <main class="flex flex-col self-center items-center w-full font-line mx-auto max-w-screen-sm bg-web-bg pt-4 pb-16">
    <div class="bg-web-bg min-h-screen flex justify-center items-center font-line">
      <form action="" class="p-8 bg-white rounded-lg shadow-lg">
        <h1 class="text-2xl font-bold text-center mb-6">Create a Party and Invite Friends!</h1>
        <h3 class="text-sm text-center font-line mb-6">*หมายเหตุ สร้างและอยู่ได้เพียง 1 ปาร์ตี้เท่านั้น ไม่สามารถออกจากปาร์ตี้ได้ กรุณาตัดสินใจให้ดีก่อนเข้าร่วมปาร์ตี้ใด ๆ</h3>

        <div class="w-full flex flex-col gap-4">
          <label for="party" class="text-lg font-semibold text-gray-700">Party Name:</label>
          <input id="party" type="text" placeholder="Enter party name (English)" class="input-field" />
          <button type="button" id="enter" class="btn font-bold">Copy Party Link</button>
        </div>
      </form>
    </div>
  </main>
</Layout>

<style>
  .input-field {
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 16px;
  }

  .btn {
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    background-color: pink;
    color: white;
    font-size: 16px;
    cursor: pointer;
  }

  .btn:hover {
    background-color: rgb(206, 85, 125);
  }
</style>


<script is:inline>
  function setCookie(cname, cvalue, exdays) {
    const d = new Date();
    d.setTime(d.getTime() + exdays * 24 * 60 * 60 * 1000);
    let expires = "expires=" + d.toUTCString();
    document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
  }

  function getCookie(cname) {
    let name = cname + "=";
    let decodedCookie = decodeURIComponent(document.cookie);
    let ca = decodedCookie.split(";");
    for (let i = 0; i < ca.length; i++) {
      let c = ca[i];
      while (c.charAt(0) == " ") {
        c = c.substring(1);
      }
      if (c.indexOf(name) == 0) {
        return c.substring(name.length, c.length);
      }
    }
    return "";
  }

  const button = document.getElementById("enter");
  button?.addEventListener("click", async () => {
    const party_name = document.getElementById("party").value;
    const id = getCookie("id");
    document.getElementById("party").value =
      `https://main--vlvu2024-me.netlify.app/party/${party_name}/${id}`;
    const copyText = document.getElementById("party");

    // Select the text field
    copyText.select();
    copyText.setSelectionRange(0, 99999); // For mobile devices

    // Copy the text inside the text field
    navigator.clipboard.writeText(copyText.value);


    const data = new FormData();
    data.append("create_by", id);
    data.append("party_name", party_name);

    const response = await fetch("/api/party", {
      method: "POST",
      mode: "no-cors",
      body: data,
    });

    const res = await response.json();

    // Display "hello" text after successful submission
  });
</script>
