---
import Layout from "../layouts/Layout.astro";
export const prerender = false;
---

<Layout>
  <div
    class="bg-web-bg min-h-screen flex justify-center items-center font-line"
  >
    <form action="/main" method="POST" class="text-center">
      <label>
        <br />
        <input
          id="party"
          name="name"
          type="text"
          placeholder="party name (english only)"
          class="center"
          required
        />
      </label>
      <button
        id="enter"
        name="enter"
        value="enter"
        class="center text-md shadow-md rounded-lg"
        type="button"
      >
        enter
      </button>
      <div id="helloText" class="text-center mt-4 text-green-600 font-bold">
      </div>
      <!-- hidden by default -->
    </form>
  </div>
</Layout>

<script is:inline>
  function setCookie(cname, cvalue, exdays) {
    const d = new Date();
    d.setTime(d.getTime() + exdays * 24 * 60 * 60 * 1000);
    let expires = "expires=" + d.toUTCString();
    document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
  }

  function getCookie(cname) {
    let name = cname + "=";
    let decodedCookie = decodeURIComponent(document.cookie);
    let ca = decodedCookie.split(";");
    for (let i = 0; i < ca.length; i++) {
      let c = ca[i];
      while (c.charAt(0) == " ") {
        c = c.substring(1);
      }
      if (c.indexOf(name) == 0) {
        return c.substring(name.length, c.length);
      }
    }
    return "";
  }

  const button = document.getElementById("enter");
  button?.addEventListener("click", async () => {
    const party_name = document.getElementById("party").value;

    const join = document.getElementById("helloText");

    join.addEventListener("click", function () {
      // Create a textarea element
      var textarea = document.createElement("textarea");

      // Set the value of the textarea to the text content of the div
      textarea.value = divElement.textContent;

      // Append the textarea to the body
      document.body.appendChild(textarea);

      // Select the text in the textarea
      textarea.select();

      // Copy the selected text to the clipboard
      document.execCommand("copy");

      // Remove the textarea
      document.body.removeChild(textarea);

    });

    document.getElementById("helloText").innerHTML =
      `http://localhost:4321/party/join/${party_name}`;
    const id = getCookie("id");

    const data = new FormData();
    data.append("create_by", id);
    data.append("party_name", party_name);

    const response = await fetch("/api/party", {
      method: "POST",
      mode: "no-cors",
      body: data,
    });

    const res = await response.json();

    // Display "hello" text after successful submission
  });
</script>

<style>
  form {
    width: 356px;
    flex-shrink: 0;
    border-radius: 21px;
    opacity: 0.8;
    background: #fff;
  }

  h1 {
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 0%; /* 0px */
    padding-bottom: 25px;
  }

  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  #ลงทะเบียน {
    width: 297px;
    height: 43px;
    border-radius: 10px;
    border-color: #fff;
    background: var(--palette-2, #fbaeb4);
  }

  form label {
    color: #d05783;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-left: 33px;
  }

  input {
    padding: 16px;
  }

  input[type="text"],
  select {
    width: 297px;
    height: 32px;
    flex-shrink: 0;
    border-radius: 20px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    background: #fff;
  }

  #status {
    width: 297px;
    height: 32px;
    flex-shrink: 0;
    border-radius: 20px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    background: #fff;
  }

  .box {
    line-height: 60px;
  }

  .img-resize img {
    width: 75px;
  }

  .img-resize {
    width: 75px;
    height: 75px;
  }
</style>
