---
import Layout from "../layouts/Layout.astro";
import { supabase } from "../utils/supabase";

const { cookies, redirect } = Astro;

const accessToken = cookies.get("sb-access-token");
const refreshToken = cookies.get("sb-refresh-token");

if (!accessToken || !refreshToken) {
  return redirect("/");
}

const { data, error } = await supabase.auth.setSession({
  refresh_token: refreshToken.value,
  access_token: accessToken.value,
});

export const prerender = true;

---

<Layout>
  <main
    class="flex flex-col self-center items-center w-full font-line mx-auto max-w-screen-sm bg-web-bg pt-4 pb-16"
  >
    <div class="flex items-center">
      <img
        src="/assets/regis/logo_thai_white1 1.png"
        alt="logovidva"
        class="h-15"
      />
      <img
        src="/assets/regis/สโมขาว 1.png"
        alt="สโมขาว"
        class="h-12 mb-2"
      />
    </div>

    <div class="box">
      <form id="form" action="/main" method="post">
        <img
          src="/assets/regis/just lego.png"
          alt="justlogo"
          class="center"
        />
        <div>
          <h1>Register</h1>
          <h1>ลงทะเบียนเข้างาน</h1>
        </div>
        <div>
          <label for="ชื่อจริง-นามสกุล"
            >ชื่อจริง-นามสกุล<br />
            <input
              id="ชื่อจริง-นามสกุล"
              name="name"
              type="text"
              placeholder="ชื่อจริง-นามสกุล"
              class="center"
              required
            />
          </label>
        </div>
        <div>
          <label for="status"
            >สถานภาพ<br />
            <select name="status" id="status" class="center">
              <option value="Custudent">นิสิตจุฬา</option>
              <option value="teacher">อาจารย์และบุคลากรจุฬา</option>
              <option value="student">นักเรียน/นักศึกษา</option>
              <option value="anthoer">ประชาชนทั่วไป</option>
            </select>
          </label>
        </div>
        <div>
          <label for="รหัสนิสิต"
            >รหัสนิสิต<br />
            <input
              id="รหัสนิสิต"
              name="student_id"
              type="text"
              placeholder="รหัสนิสิต"
              class="center"
            />
            <br />
            <button
              id="ลงทะเบียน"
              name="ลงทะเบียน"
              value="ลงทะเบียน"
              class="center text-sm shadow-md">ลงทะเบียน</button
            >
          </label>
        </div>
        <br />
      </form>
    </div>
  </main>
</Layout>

<style>
  form {
    width: 356px;
    height: 667px;
    flex-shrink: 0;
    border-radius: 21px;
    opacity: 0.8;
    background: #fff;
  }

  h1 {
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 0%; /* 0px */
    padding-bottom: 25px;
  }

  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  #ลงทะเบียน {
    width: 297px;
    height: 43px;
    border-radius: 10px;
    border-color: #fff;
    background: var(--palette-2, #fbaeb4);
  }

  form label {
    color: #d05783;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-left: 33px;
  }

  input {
    padding: 16px;
  }

  input[type="text"],
  select {
    width: 297px;
    height: 32px;
    flex-shrink: 0;
    border-radius: 20px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    background: #fff;
  }

  #status {
    width: 297px;
    height: 32px;
    flex-shrink: 0;
    border-radius: 20px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    background: #fff;
  }

  .box {
    line-height: 60px;
  }

  .img-resize img {
    width: 75px;
  }

  .img-resize {
    width: 75px;
    height: 75px;
  }
</style>

<script is:inline>
  const studentIdInput = document.getElementById("รหัสนิสิต");
  const statusSelect = document.getElementById("status");
  function setCookie(cname, cvalue, exdays) {
    const d = new Date();
    d.setTime(d.getTime() + exdays * 24 * 60 * 60 * 1000);
    let expires = "expires=" + d.toUTCString();
    document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
  }

  function getCookie(cname) {
    let name = cname + "=";
    let decodedCookie = decodeURIComponent(document.cookie);
    let ca = decodedCookie.split(";");
    for (let i = 0; i < ca.length; i++) {
      let c = ca[i];
      while (c.charAt(0) == " ") {
        c = c.substring(1);
      }
      if (c.indexOf(name) == 0) {
        return c.substring(name.length, c.length);
      }
    }
    return "";
  }

  const button = document.getElementById("ลงทะเบียน");
  button?.addEventListener("click", async () => {
    const name = document.getElementById("ชื่อจริง-นามสกุล").value;
    setCookie('name', name);
    const student_id = document.getElementById("รหัสนิสิต").value;
    const role = document.getElementById("status").value;
    const user_name = getCookie('id');
    const data = new FormData();
    data.append('user_name', user_name)
    data.append("name", name);
    data.append("student_id", student_id);
    data.append("role", role);
    const response = await fetch("/api/user", {
      method: "POST",
      mode: "no-cors",
      body: data,
    });
    const res = await response.json();

  });

    // Add event listener for select change
    statusSelect.addEventListener("change", function() {
    if (this.value === "Custudent") {
      // Enable input field
      studentIdInput.disabled = false;
    } else {
      // Disable input field
      studentIdInput.disabled = true;
      // Clear input value
      studentIdInput.value = "";
    }
  });

  // Disable input field initially if the default selected option is not "Custudent"
  if (statusSelect.value !== "Custudent") {
    studentIdInput.disabled = true;
  }
</script>
