---
import AvatarDisplay from "../components/AvatarDisplay";
import NameRelation from "../components/NameRelation";
import Navbar from "../components/Navbar.astro";
import Layout from "../layouts/Layout.astro";
import { supabase } from "../utils/supabase";

const { cookies, redirect } = Astro;

const accessToken = cookies.get("sb-access-token");
const refreshToken = cookies.get("sb-refresh-token");
const { data: { user } } = await supabase.auth.getUser(accessToken?.value);
const id = user?.id;
let all_id : string[] = [];
if (id) {
  console.log(id)
  const {data: user, error} = await supabase.from('users').select('*').eq('user_name', id);
  if (user?.length !== 0 && user != null) {
    console.log(user);
    const party_name = user[0].party_name;
    console.log(party_name);
    const {data: party, error} = await supabase.from('party').select('*').eq('party_name', party_name);
    if (party?.length !== 0 && party != null) {
      console.log(">>>")
      const owner = party[0].create_by;
      all_id = party[0].children;
      all_id.push(owner);
      console.log(all_id)
    }
  }
}
---

<Layout title="Main | Vid Lovd Vid U 2024">
  <main class="min-h-screen bg-gradient-to-b from-[#FBAEB4] to-[#FEDFC2]">
    <div class="max-w-screen-mobile mx-auto relative px-8">
      <!-- top navbar -->
      <Navbar />
      <!-- top navbar -->

      <!-- avatar -->
      <div class="grid grid-cols-2 grid-rows-2 grid-flow-row">

        {
          all_id.map((value, index) => (
            <div class="place-content-center">
              <AvatarDisplay id={value} client:load />
              <NameRelation id={value} client:load />
            </div>
          ))
        }
      </div>
      <!-- avatar -->

      <!-- Bottom div -->
      <div class="grid grid-cols-3 place-items-center">
        <a
          href="/event"
          class="flex flex-col justify-center items-center gap-2"
        >
          <img src="assets/icon/mail.svg" alt="event" class="w-[67px]" />
          <p class="font-line font-semibold text-center text-white text-lg">
            Event
          </p>
        </a>
        <a
          href="/profile"
          class="flex flex-col justify-center items-center gap-2"
        >
          <img src="assets/icon/shirt.svg" alt="customize" class="w-[67px]" />
          <p class="font-line font-semibold text-center text-white text-lg">
            Customize
          </p>
        </a>
        <a
          href="/relation"
          class="flex flex-col justify-center items-center gap-2"
        >
          <img src="assets/icon/heart.svg" alt="relation" class="w-[67px]" />
          <p class="font-line font-semibold text-center text-white text-lg">
            Relation
          </p>
        </a>
      </div>
      <!-- Bottom div -->
    </div>
  </main>
</Layout>
